body{
    font-family: 'Poppins', sans-serif;
}

.title {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    color: white;
    margin-left: 21.8rem;
    margin-top: 6rem;
}
.burger {
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem;
    gap: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;
    height: 28rem;
    background: rgb(255, 255, 255);
    box-shadow: 0.1em 0.1em 0.1em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
}
.img-prod {
    width: auto;
    height: 12rem;
}
.p-prod {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}
.btn-detail {
    display: flex;
    width: 7rem;
    height: 1.8rem;
    background-color: #9c27b0;
    border: none;
    border-radius: 1rem;
    padding-top: 0.2rem;
    transition: 0.2s;
    text-decoration: none;
    color: white;
}
.btn-detail:hover {
    cursor: pointer;
    background-color: #9b27b0e1;
    transition: 0.2s;
}
.btn-pdetail {
    font-weight: 500;
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    text-align: center;
    margin-left: 0.4rem;
    margin-top: 0;
}
.detail {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-detail {
    width: 40%;
    margin-bottom: 2rem;
}
.container-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 2px solid rgb(202, 198, 198);
}
.p-detail {
    font-size: 1.5rem;
    font-weight: 600;
}
.add-cart {
    font-family: 'Poppins', sans-serif;
    background-color: #9c27b0;
    border: none;
    color: white;
    width: 11rem;
    height: 2.8rem;
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 1rem;
    margin-top: 1rem;
    transition: 0.2s;
}
.add-cart:hover {
    cursor: pointer;
    background-color: #9b27b0e1;
    transition: 0.2s;
}
.footer {
    display: flex;
    background-color: #070707;
    height: 5rem;
    margin-top: 5rem;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    color: white;
    font-size: 0.7rem;
    margin-left: 1rem;
}
.icons {
    width: 3.5rem;
}
.container-load {
    padding-top: 10rem;
    padding-bottom: 15rem;
    width: 100%;
    height: 10rem;
    background-color: white;
}
#preloader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9c27b0;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.item-count {
    width: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-count {
    cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
    border: none;
    background-color: #9c27b0;
    color: white;
    border-radius: 0.2rem;
}
.modal {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 400;                      
}
.cont-prod {
    display: flex;
    border-bottom: 1px solid rgb(224, 222, 222) ;
    padding-bottom: 1rem;
    align-items: center;
    height: 10rem;
}
.img-cart {
    width: 10rem;
}
.contain-cart {
    display: flex;
    flex-direction: column;
    height: 75%;
    border-right: 1px solid rgb(224, 222, 222);
    padding-right: 4%;
}
.p-quantity {
    font-size: 0.9rem;
    text-align: center;
}
.prod-p {
    font-weight: 600;
    margin-right: 2rem;
    text-align: center;
}
.flex {
    display: flex;
}
.p-total {
    font-weight: 600;
    margin-left: 1rem;
}
.title-cart {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.btn-trash {
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
}
.trash {
    width: 2rem;
    height: 2rem;
    transition: 0.8s;
    margin-left: 1rem;
}
.trash:hover {
    cursor: pointer;
    color: rgb(43, 41, 41);
}
.btn-clear {
    font-family: 'Poppins', sans-serif;
    border-radius: 0.3rem;
    margin-left: 5rem;
    margin-top: 1rem;
    border: none;
    background-color: #9c27b0;
    color: white;
    height: 2rem;
    width: 8rem;
    transition: 0.2s;
}
.btn-clear:hover {
    cursor: pointer;
    background-color: #b94dcc;
}
.close {
    margin-left: 28rem;
}
.close:hover {
    cursor: pointer;
}
.alert-clear {
    margin: 12rem;
    width: 12rem;
    height: 2.5rem;
    box-shadow: 0.1em 0.1em 0.5em #00000015;
}
.swal-clear {
    z-index: 1500;
}
.swal-font {
    font-family: 'Poppins', sans-serif;
}
.home-title {
    font-size: 1.7rem;
    padding: 1.5rem;
}
.img-novedad {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    width: 22rem;
    height: 22rem;
}
.p-novedad {
    font-size: 0.9rem;
    margin-left: 1rem;
    width: 20.5rem;
}
.div-nov {
    display: flex;
    justify-content: space-around;
}
.novedad {
    background-color: #e4e2e2;
    width: 22rem;
    border-radius: 2rem;
}
.btn-checkout {
    font-family: 'Poppins', sans-serif;
    border-radius: 0.3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border: none;
    background-color: #9c27b0;
    color: white;
    height: 1.7rem;
    width: 10rem;
    transition: 0.2s;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    padding-top: 4px;
}
.btn-checkout:hover {
    cursor: pointer;
    background-color: #b94dcc;
}
.container-form {
    padding-top: 5rem;
}
.title-form {
    padding: 3rem;
    font-size: 1.8rem;

}
.form {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-bottom: 5rem;
    gap: 1rem;
}
.input {
    width: 20rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: 2px solid #9c27b0;
    font-size: 0.8rem;
    padding-left: 1rem;
}
.input:focus {
    outline: #9c27b0;
}
.btn-form {
    font-family: 'Poppins', sans-serif;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: none;
    background-color: #9c27b0;
    color: white;
    height: 2rem;
    width: 8rem;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 500;
}
.btn-form:hover {
    cursor: pointer;
    background-color: #b94dcc;
}
.p-order {
    padding-left: 4rem;
}
.btn-order {
    margin-bottom: 13rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.3rem;
    margin-left: 4rem;
    margin-top: 2rem;
    border: none;
    background-color: #9c27b0;
    color: white;
    height: 2.5rem;
    width: 12rem;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 500;
}
.btn-order:hover {
    cursor: pointer;
    background-color: #b94dcc;
}
.container-login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 23rem;
    box-shadow: 0.1em 0.1em 0.5em #00000015;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.btn-login {
    margin-left: 6rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    background-color: #9c27b0;
    color: white;
    height: 2.5rem;
    width: 12rem;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 500;
}
.flex {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.container-formL {
    display: flex;
    justify-content: center;
    width: 25rem;
    background-color: #9c27b0;
    height: 28rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    color: white;
    box-shadow: 0.1em 0.1em 0.5em #00000015;
}
@media screen and (max-width: 548px) {
    .flex{
        flex-direction: column;
        align-items: center;
    }
    .container-formL{
        height: 10rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 0;
        width: 20rem;
    }
    .container-login {
        width: 20rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.btn-transparent{
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: black;
    border: none;
    padding-right: 1.5rem;

}
.btn-transparent:hover {
    cursor: pointer;
}